.main-popular-products-image-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 40px;
  z-index: 100;
}
.main-container-shop {
  align-items: center;
}
@media (min-width: 576px) {
  .main-popular-products-image-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 60px;
    z-index: 100;
  }
  .header-search-shop {
    background-color: #e3e6e7;
  }
  .header-search-input-shop {
    background-color: #e3e6e7;
  }
}
