/*.shop-container{*/
/*    display: flex;*/
/*}*/
.main-popular-products-image-like{
    position: absolute;
    padding: 0 4px ;
    right: 16px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 50%;
    font-size: 18px;
}
