.nav-container{
    width: 85%;
    height: 70px;
    background-color: #121212;
    border-radius: 32px;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    transition: bottom 0.2s ease-in-out;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon{
    width: 20px;
    height: 20px;
    fill: #fafafa;
}
.nav-container-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}
.nav-selected-icon{
    background-color: #2a2a2a
}