.container {
  background-color: #fafafa;
  width: 100vw;
}
.header {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  background-color: #fafafa;
}
.header-search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-search {
  width: 85%;
  height: 100%;
  border-radius: 24px;
  background-color: #e3e6e7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px;
}
.header-search-input {
  border-radius: 24px;
  outline: none;
  border: none;
  background-color: #e3e6e7;
  width: 100%;
}
.header-filters {
  background-color: #000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-search-icon {
  width: 20px;
  height: 20px;
  color: #000;
  margin-right: 8px;
}
.header-filters-icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.sale-container {
  width: 100%;
  margin-top: 16px;
  background-color: #b2d2f6;
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.sale-background {
  background-color: #b2d2f6;
  width: 80%;
  height: 150px;
  border-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sale-text-button-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
}
.sale-text {
  font-weight: bold;
  font-size: 24px;
  width: 60%;
}
.sale-button {
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
.sale-button-icon {
  width: 10px;
  height: 10px;
}
.main-container {
  width: 100%;
  margin-bottom: 70px;
}
.main-product-list {
  width: 100%;
  margin-top: 16px;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  padding: 0 16px;

  display: none;
}
.main-product-list-element {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #b2d2f6;
  display: inline-block;
  margin-right: 8px;
}
.main-popular-products-container {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.main-popular-products-images-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.main-popular-products-image-text {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}
.main-popular-products-image {
  width: 150px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}
.main-popular-products-image-name {
  margin-top: 8px;
  width: 150px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
}

.main-popular-products-image-cost {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
  width: 150px;
}
.main-text {
  display: none;
}

@media (min-width: 576px) {
  .header {
    position: relative;
    padding: 0;
  }
  .header-search-container {
    position: absolute;
    z-index: 100;
    top: 16px;
    width: 400px;
    left: 16px;
  }
  .header-search {
    width: 85%;
    height: 100%;
    border-radius: 24px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
  }
  .header-search-input {
    background-color: #fafafa;
  }
  .sale-container {
    height: 65vh;
    margin: 0;
    border-radius: 0;
    background-color: #b2d2f6;
    padding: 32px 32px;
  }
  .sale-background {
    background-color: #b2d2f6;
    width: 100%;
    height: 50vh;
    border-radius: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
  }
  .sale-text-button-container {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  }
  .sale-text {
    font-size: 60px;
    width: 60%;
    opacity: 75%;
  }
  .sale-button {
    border-radius: 48px;
    padding: 16px 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
    margin-top: 16px;
    background-color: #fafafa;
  }
  .sale-button-icon {
    width: 24px;
    height: 24px;
  }
  .main-text {
    font-size: 24px;
    text-align: center;
    width: 80%;
    align-self: center;
    font-style: italic;
    margin-bottom: 24px;
    display: flex;
    letter-spacing: 1px;
    line-height: 40px;
  }
  .main-container {
    width: 100vw;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    padding: 48px 16px;
  }
  .main-popular-products-text {
    font-size: 32px;
  }
  .main-popular-products-image-text {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 56px;
    position: relative;
  }
  .main-popular-products-image {
    width: 80%;
    height: 500px;
  }
  .main-popular-products-image-name {
    width: 80%;
    font-size: 24px;
  }
  .main-popular-products-image-cost {
    font-size: 24px;
    width: 80%;
  }
  .header-shop {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .sale-container {
    height: 80vh;
    padding: 100px 0;
  }
  .sale-background {
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }
  .sale-text-button-container {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  }
  .main-popular-products-images-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
  }
  .main-shop {
    width: 100vw;
    padding: 0 100px;
    grid-template-columns: repeat(3, 1fr);
  }
  .header-search-container {
    left: 32px
  }
}
@media (min-width: 1400px) {
  .main-popular-products-images-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    width: 100%;
    max-width: 1800px;
  }
  .sale-container {
    height: 80vh;
    padding: 100px 0;
  }
  .sale-background {
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }
  .sale-text-button-container {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
  }
  .header {
    width: 100%;
    height: 100%;

    padding: 0 100px;
    background-color: #b2d2f6;
  }
  .container {
    width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  .main-shop {
    width: 100%;
    max-width: 1800px;
    padding: 0 100px;
    grid-template-columns: repeat(3, 1fr);
  }
}
