.sliderPopularProducts {
  position: relative;
  width: 100%;
  height: 275px;
  overflow-x: hidden;
  padding: 0 16px;
}
.leftArrowSlider {
  position: absolute;
  top: 50%;
  left: 16px;
  font-size: 3rem;
  color: white;
  z-index: 15;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}
.rightArrowSlider {
  position: absolute;
  top: 50%;
  right: 16px;
  font-size: 3rem;
  color: white;
  z-index: 15;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}
.imageSlider {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slidePopularProducts {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  width: 100%;
  height: 100%;
}
.oneSlideProduct {
  vertical-align: middle;
  width: 50%;
  border-radius: 24px;
  padding-right: 8px;
  height: 100%;
}
.slide-popular-product {
  flex: 50%;
  max-width: 50%;
}
.slide-popular-product.active-dashboard {
  opacity: 1;
  z-index: 1;
}
@media (min-width: 576px) {
    .sliderPopularProducts {
        height: 400px;
    }
    .leftArrowSlider {
        left: 24px;
    }
    .rightArrowSlider {
        right: 32px;

    }
}
@media (min-width: 768px) {
    .sliderPopularProducts {
        height: 450px;
    }
}
@media (min-width: 992px) {
    .sliderPopularProducts {
        width: 100%;
        height: 600px;
    }
}
@media (min-width: 1200px) {
    .sliderPopularProducts {
        width: 100%;
        height: 600px;
    }
    .oneSlideProduct {
        width: 33%;
    }
    .slide-popular-product {
        flex: 33%;
        max-width: 33%;
    }
}
@media (min-width: 1600px) {
    .sliderPopularProducts {
        width: 100%;
        height: 600px;
    }
    .oneSlideProduct {
        width: 25%;
    }
    .slide-popular-product {
        flex: 25%;
        max-width: 25%;
    }
}
@media (min-width: 2000px) {
    .sliderPopularProducts {
        width: 100%;
        height: 800px;
    }
    .oneSlideProduct {
        width: 20%;
    }
    .slide-popular-product {
        flex: 20%;
        max-width: 20%;
    }
}